@import url('../style-mentor/sidenav.css');
@import url('../../admin/styles/style-generals.css');

.enviar-calificacion {
    width: fit-content;
}

.cal-final {
    font-size: 14px;
    width: fit-content;
}

select {
    font-size: 14px;
}

select option {
    font-size: 14px;
}