@import url('../style-mentor/sidenav.css');
@import url('../../admin/styles/style-generals.css');

.btn-pond {
    width: 100%;
}

.container-student-cursos {
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

table {
    width: 90%;
}

.cursos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.card-cursos {
    padding: 10px;
    box-shadow: var(--box-shadow);
    border-radius: 8px;
}

.mentor-cog a {
    text-decoration: none;
}

.edit-course-rate {
    position: absolute;
    top: 0;
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 90vh;
    width: 90%;
    z-index: -3;
    transition: .2s ease-in-out;
    opacity: 0;
}

.form {
    padding: 20px;
    width: 350px;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    transition: .2s ease-in-out;
}

.icon-task {
    background-color: var(--color-bk-opacity);
    padding: 20px;
    color: var(--primary-color);
}

.animaterate {
    z-index: 9999;
    animation: course .2s ease-in-out;
    transition: .2s;
    opacity: 1;
}

.form-select input {
    width: 100%;
}

.form-select p {
    font-size: 11px;
    position: absolute;
    font-weight: 600;
    top: -15px;
    left: 8px;
    transition: .2s ease;
}

@keyframes course {
    from {
        transform: translateY(-20px);

    }

    to {
        transform: translateY(0px);
    }

}

@media(max-width:576px) {
    .edit-course-rate {
        width: 100%;
    }
}