@import url('../style-mentor/sidenav.css');
@import url('../../admin/styles/style-generals.css');

.btn-pond {
    width: 100%;
}

.container-student-cursos {
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

table {
    width: 90%;
}

.cursos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.card-cursos {
    padding: 10px;
    box-shadow: var(--box-shadow);
    border-radius: 8px;
}

.mentor-cog a {
    text-decoration: none;
}

.edit-course-rate {
    position: absolute;
    top: -120px;
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 90vh;
    width: 90%;
    z-index: -3;
    transition: .2s ease-in-out;
    opacity: 0;
}

.form {
    padding: 20px;
    width: 350px;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    transition: .2s ease-in-out;
}

.icon-task {
    background-color: var(--color-bk-opacity);
    padding: 20px;
    color: var(--primary-color);
}

.animaterate {
    top: 0;
    z-index: 9999;
    animation: course .2s ease-in-out;
    transition: .2s;
    opacity: 1;
}

.form-select input {
    width: 100%;
}

.form-select p {
    font-size: 11px;
    position: absolute;
    font-weight: 600;
    top: -15px;
    left: 8px;
    transition: .2s ease;
}

@keyframes course {
    from {
        transform: translateY(-20px);

    }

    to {
        transform: translateY(0px);
    }

}

.a-unit-mentor {
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px;
    border-radius: 25px;
    display: flex;

}

/* estilos agregados para mentor */

.card-header-2 {
    padding: 0;
    margin: auto;
    width: 90%;
    background-color: transparent;
}

.alumnos {
    background-image: linear-gradient(to right, #4f70d4, var(--primary-color));
    color: white;
}

.content-static {
    backdrop-filter: blur(5px);
    width: 100%;
    padding: 25px;
    border-radius: 5px;
    /* height: 150px; */
    box-shadow: var(--box-shadow);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.p-asign {
    margin-bottom: 25px;
}

.a-static {
    position: absolute;
    bottom: 15px;
    right: 20px;
    background-color: white;
    color: var(--primary-color);
    border-radius: 25px;
    padding: 5px;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    transition: .3s ease-in-out width;
    gap: 5px;
    align-items: center;
}

.ponderaciones {
    position: absolute;
    bottom: 15px;
    right: 115px;
    background-color: white;
    color: var(--primary-color);
    border-radius: 25px;
    padding: 5px;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    transition: .3s ease-in-out width;
    gap: 5px;
    align-items: center;
}

.bxs-cog {
    background-color: transparent;
    padding: 0;
    display: flex;
    font-size: 15px;
}

.a-static:hover {
    background-image: linear-gradient(to right, #4f70d4, var(--primary-color));
    color: white;

}


.content-static img {
    width: 50px;
    position: absolute;
    bottom: -100px;
    transition: .3s ease-in-out;
    z-index: -1;
}

.content-static:hover img {
    bottom: -100px;
    width: 300px;
    opacity: .3;
    z-index: -1;
}

.curs p,
.alumnos p,
.calificaciones p {
    color: white;
}

.grid-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.card-header {
    background-image: url('../../src/back.png');
    background-position: right;
    background-repeat: no-repeat;
}

@media(max-width:576px) {
    .edit-course-rate {
        width: 100%;
    }
}

@media(max-width:740px) {
    .grid-container {
        flex-direction: column;
    }
}