@import url('../styles/style-generals.css');
@import url('../styles/sidenav.css');

/* ESTILOS PARA EL BUSCARDOR*/

.finder {
    display: flex;
    justify-content: right;
    margin: auto;
    width: 80%;
    margin-top: 20px;
    gap: 10px;
}

.filter {
    display: none;
}

.finder {
    margin-bottom: 15px;
}