@import url('../../admin/styles/style-generals.css');
@import url('../../mentor/style-mentor/sidenav.css');

body {
    background-color: #efefef;
}

.nuevo {
    background-color: #fef1da;
    color: #c07507;
    width: 80px;
    display: flex;
    justify-content: center;
    padding: 5px;
    border-radius: 25px;
}

.send-act {
    background-color: #d1fadf;
    color: #039855;
    width: 80px;
    display: flex;
    justify-content: center;
    padding: 5px;
    border-radius: 25px;
}

.date-Activity {
    border-radius: 5px;
    border: 2px solid var(--color-primary-opacity);
    width: 110px;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.name-activ {
    font-weight: 600;
    color: var(--primary-color);
}

.container-tabs {
    width: 90%;
    margin: auto;
    position: relative;
}

.buttons-tabs {
    width: 120px;
    height: 100vh;
    position: absolute;
}

.buttons-tabs p {
    text-align: center;
    margin: 25px auto;
    font-size: 14px;
    text-decoration: none;
    position: relative;
    transition: .3s ease-in-out;
    display: flex;
    align-items: center;
    background-color: var(--color-bk-opacity);
    color: var(--primary-color);
    padding: 10px;
    border-radius: 200px;
    width: 50px;
}

.buttons-tabs p:hover {
    background-color: #ffffff10;
    cursor: pointer;
}

/* 
.buttons-tabs p:hover::before {
    content: '➡️';
    width: 30px; 
    position: absolute;
    transform: translateX(-5px);
    left: -20px;
    height: 1px; 
 background-color: var(--primary-color); 
    animation: signal .2s ease-in-out;
}

@keyframes signal {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }

    to {
        opacity: 1;
        transform: translateX(-5px);
    }
} */

.content-divs-tab {
    background-color: #fff;
    margin-left: 130px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    padding: 10px;
    overflow: hidden;
}

.content-divs-tab td {
    grid-template-columns: 15ch auto;
}

.content-divs-tab table {
    width: 100%;
}

.active {
    background-color: #ffffff10;
    cursor: pointer;
}

.actividades,
.videocalls,
.calificaciones {
    transition: .3s ease-in-out;
    animation: entrada .3s ease-in-out;
}

.actividades h5,
.calificaciones h5,
.videocalls h5 {
    display: inline-block;
}

.videocalls h5 {
    background-color: #f4ebff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 200px;
    color: #7F56D9;
}

.calificaciones h5 {
    background-color: #d1fadf;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 200px;
    color: #039855;
}


.actions a {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
}

.actividades h5 {
    background-color: var(--color-bk-opacity);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 200px;
    color: var(--primary-color);
}

.link-videocalls {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    margin-right: auto;
}

@keyframes entrada {
    from {
        transform: translateY(200px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.disable {
    display: none;
}

.contentdiv h5 {
    padding: 10px;
}

@media (max-width:576px) {
    .container-tabs {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .buttons-tabs {
        position: initial;
        display: flex;
        width: 250px;
        margin: auto;
        height: auto;
    }

    .buttons-tabs p:hover::before {
        content: '';
    }

    .content-divs-tab {
        margin-left: 0;
        width: 100%;
        margin: 20px auto;
    }
}