@import url('../styles/style-generals.css');
@import url('../styles/sidenav.css');

/* ESTILOS PARA EL BUSCARDOR*/

.finder {
    display: flex;
    justify-content: right;
    margin: auto;
    width: 80%;
    margin-top: 20px;
    gap: 10px;
}

.filter {
    display: none;
}

.finder {
    margin-bottom: 15px;
}

.form-header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 10px;
    padding: 50px;
}

.tabs-content {
    display: flex;
    gap: 10px;
    justify-content: center;
}


@media(max-width:768px) {
    .form-header {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding: 20px;
    }
}