@import url('../../admin/styles/style-generals.css');
@import url('../style-mentor/sidenav.css');

.a-unit {
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100px;
}

.a-unit p {
    color: #fff;
}

.form-select input {
    width: 100%;
}