@import url('../../admin/styles/style-generals.css');
@import url('../style-mentor/sidenav.css');

.a-unit {
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}