@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --tooltip-bk: #101828;
    --input-border: 2px solid #D0D5DD;
    --input--padding: 10px 14px;
    --input-bor-rad: 8px;
    --font-size-input: 16px;
    --primary-color: #22387d;
    --color-bk-opacity: #22387d10;
    --bk-color-caption: #ececec;
    --border-top: 5px solid var(--primary-color);
    --icon-advice-color: #D92D20;
    --icon-advice-bk: #FEE4E2;
    --border-radius: 0 0 10px 10px;
    --color-graylight: #bfbfbf;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
    font-family: Inter;
}


body {
    position: relative;
}

input,
select {
    border: var(--input-border);
    outline: none;
    padding: var(--input--padding);
    font-size: var(--font-size-input);
    border-radius: var(--input-bor-rad);
    font-style: italic;
    font-size: 20px;
}

button {
    outline: none;
    padding: var(--input--padding);
    font-size: var(--font-size-input);
    border-radius: var(--input-bor-rad);
    background-color: var(--primary-color);
    border: none;
    color: #fff;
    cursor: pointer;
    transition: .2s ease-in-out;
}

button:hover {
    background-color: #22387d30;
}

/* ESTILOS DE LA TABLA */

table {
    width: 90%;
    /* min-width: 350px; */
    margin: auto;
    border-spacing: 0;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid;
    box-shadow: var(--box-shadow);
}

tbody th,
td {
    padding: 16px 24px;
    text-align: left;
    border-bottom: 1px solid #EAECF0;
    font-size: 18px;
}

tr {
    border-bottom: 1px solid;
}

tbody tr {
    font-size: 14px;
    color: #667085;
    border-top: 1px solid #efefef;
    transition: .2s ease-in-out;
}

tbody tr:hover {
    background-color: #f7f7f7;
    color: var(--primary-color);
}

.table thead tr {
    background-color: #F9FAFB;
    border-bottom: 1px solid #f4f4f4;
}

.table thead tr th {
    font-size: 12px;
    color: #667085;
    padding: 16px 24px;
    text-align: left;
}

.actions {
    display: flex;
    gap: 5px;
}

.actions button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #667085;
}

caption {
    text-align: left;
    background-color: var(--bk-color-caption);
}

.caption {
    display: flex;
    position: relative;
    padding: 16px 24px;
    text-align: left;
    align-items: center;
    border-bottom: none;
    border-bottom: 1px solid #EAECF0;
    width: 250px;
}

.caption p {
    font-size: 16px;
    color: #101828;
    font-weight: 500;
}

.caption span {
    position: absolute;
    right: -10px;
    font-size: 12px;
    color: var(--primary-color);
    background-color: #6941C610;
    padding: 2px 8px;
    border-radius: 10px;
}

.card-header {
    width: 90%;
    border-top: 5px solid var(--primary-color);
    display: flex;
    border-radius: var(--border-radius);
    flex-direction: column;
    padding: 26px;
    margin: 15px auto;
    box-shadow: var(--box-shadow);
    position: relative;
    gap: 35px;
    background-color: #fff;
}

.card-header-2 {
    width: 100%;
    display: flex;
    border-radius: var(--border-radius);
    flex-direction: column;
    padding: 26px;
    margin: 15px auto;
    box-shadow: var(--box-shadow);
    position: relative;
    gap: 35px;
}

.card-header-2 .form-header {
    grid-template-columns:
        repeat(auto-fit,
            minmax(250px, 1fr));
    gap: 20px;
}

.breadcumbs {
    width: 90%;
    gap: 5px;
    display: flex;
    align-items: center;
    margin: 15px auto;
}



.breadcumbs a,
p {
    font-size: 12px;
    color: #101828;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 5px;
}

.form-header {
    display: grid;
    grid-template-columns:
        repeat(auto-fit,
            minmax(150px, 1fr));
    gap: 10px;
}

.finder {
    width: 90%;
    display: flex;
    margin: 15px auto;
    justify-content: right;
}

.heading p {
    margin-top: 10px;
    font-size: 16px;
}

.aviso-click {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    margin: 20px;
    padding: 10px;
    align-items: center;
    gap: 10px;
    line-height: 20px;
    border-radius: 5px;
    color: #fff;
    animation: aviso 6.5s ease-in-out;
    background-color: #000000;
    border-radius: 10px;
}

.aviso-click p {
    color: #fff;
}


@keyframes aviso {

    0%,
    25% {
        transform: translateY(20px);
        opacity: 0;
    }

    26%,
    85% {
        transform: translateY(0);
        opacity: 1;
    }

    86%,
    100% {
        transform: translateY(20px);
        opacity: 0;
    }
}

.form-header {
    width: 100%;
}

.form-header select {
    width: 100%;
}

.form-select {
    position: relative;
}

.form-header p {
    font-size: 11px;
    position: absolute;
    font-weight: 600;
    top: -18px;
    left: 8px;
    transition: .2s ease;
}


.form-select:hover p {
    top: -20px;
    color: var(--primary-color);
    font-size: 10px;
    left: 5px;
}

@media(max-width:576px) {

    .container-table {
        display: flex;
        justify-content: center;
        width: 90%;
        margin: auto;
    }

    th {
        display: none;
    }

    td {
        display: grid;
        grid-template-columns: 15ch auto;
        gap: 4px;
        padding: 5px 5px;
        align-items: center;
    }

    td:last-child {
        padding-bottom: 7px;
    }

    td::before {
        content: attr(data-cell)": ";
        font-weight: 600;
        padding-left: 10px;
    }

    .table {
        width: 100%;
    }

    .finder {
        justify-content: center;
    }

    .form-select {
        margin-bottom: 15px;
    }
}