@import url('../../admin/styles/style-generals.css');
@import url('../../mentor/style-mentor/sidenav.css');

.separator {
    background-color: var(--primary-color);
    width: 90%;
    height: 1px;
}

.pautas {
    margin: 30px auto;
    box-shadow: var(--box-shadow);
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pautas a {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}

.content-name {
    display: flex;
    gap: 15px;
    box-shadow: var(--box-shadow);
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
    text-align: left;
    align-items: center;
}

.content-name p {
    font-size: 16px;
    text-align: left;
}

.name-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
}

.actualizar-act {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.desc-act-check {
    display: flex;
    flex-direction: column;
}

.desc-act-check input[type='date'] {
    font-size: 11px;
}

/* .content-name input {
    width: fit-content;
} */

.save-check {
    background-color: var(--primary-color);
    color: white;
    font-size: 14px;
    padding: 8px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

.checkRevisar {
    width: 100%;
    font-size: 15px;
}

/* 
.coments::before {
    content: 'Comentarios del Alumno:';
    font-size: 14px;
    color: var(--primary-color);
    font-weight: normal;
} */

.link-student {
    background-color: var(--primary-color);
    color: #fff;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
    text-decoration: none;
    position: relative;
    justify-content: center;
    width: fit-content;
    margin: auto;
    font-size: 15px;
}

.content-name p {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
}

.title-revisar {
    font-size: 12px;
    font-weight: 300;
    color: var(--primary-color);
}

.content-name label {
    font-weight: normal;
    font-size: 14px;
    color: var(--primary-color);
}


.content-stud {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    display: flex;
    gap: 15px;
    box-shadow: var(--box-shadow);
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
    text-align: left;
    align-items: center;
    margin-top: 10px;
}

.link-material {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    width: 80%;
    margin: auto;
    text-align: center;
}

.card-header {
    position: relative;
}

.act-alumno {
    color: var(--primary-color);
}

.num-intent {
    position: absolute;
    top: 20px;
    right: 20px;
}

.intentos-span {
    background-color: var(--color-bk-opacity);
    color: var(--primary-color);
    padding: 10px;
    border-radius: 20px;
}

.bold-span {
    font-weight: 600;
}

.text-enviar {
    padding: 10px;
    border-radius: 3px;
    border: var(--input-border);
    font-size: 14px;
    font-style: italic;
    resize: none;
}



.container-present {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.container-revisar {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.link-material {
    background-color: #fff;
    width: 100%;
    box-shadow: var(--box-shadow);
    padding: 20px;
    border-radius: 10px;
}

.btn-check {
    color: #fff;
    text-decoration: none;
}

table {
    width: 100%;
}

@media (max-width:574px) {


    .container-revisar {
        gap: 0px;
    }

}

@media (max-width:928px) {
    .content-activities {
        flex-direction: column;
    }

    .container-revisar {
        flex-direction: column;
        margin: auto;
    }

    .content-name {
        width: 100%;
    }

    .actualizar-act {
        width: 100%;
    }

    .name-container {
        flex-direction: column;
    }
}