<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="cursos.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js"
      integrity="sha512-aoTNnqZcT8B4AmeCFmiSnDlc4Nj/KPaZyB5G7JnOnUEkdNpCZs1LCankiYi01sLTyWy+m2P+W4XM+BuQ3Q4/Dg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/jpg" href="../../src/logo.svg" />
    <title>Asignaturas</title>
  </head>
  <body onload="cargarSideNav(),loadCursosByStudent(),loadNotices()">
    <div class="sidenav-cln" id="sidenavInsert"></div>
    <main>
      <div class="breadcumbs">
        <p>Asignaturas</p>
      </div>
      <div class="tabs-reticula">
        <a class="asignaturas-button" onclick="backAssigment()">
          Asignaturas
        </a>
        <a class="reticula-button" onclick="changeAssigment()">
          Mapa curricular
        </a>
      </div>
      <div id="reticula">
        <div class="card-header" class="container-reticula">
          <div class="text-header">
            <h2>Retícula</h2>
            <p>Aquí se muestra la retícula de las carreras</p>
          </div>
        </div>
        <div class="card-header-2 elegir-reticula">
          <select name="" id="select-reticula" onchange="changeReticula()">
            <option value="derecho">Derecho</option>
            <option value="educacion">Educación</option>
            <option value="maestria">
              Maestría en educación básica con atención a la segunda infancia
            </option>
            <option value="especialidad">
              Especialidad en educación básica con atención a la segunda
              infancia
            </option>
          </select>
        </div>
        <div id="contenedor"></div>
      </div>
      <div class="card-header" id="card-title">
        <div class="text-Header">
          <h2>Tus asignaturas</h2>
        </div>
      </div>
      <div class="card-header-2" id="content-advices">
        <div class="content-static-2 avisos">
          <h5><i class="bx bxs-bell-ring"></i>Avisos</h5>
          <div id="asignaturas"></div>
        </div>
        <div class="grid-container" id="static-div"></div>
      </div>
      <div class="container-cursos" id="container-cursos"></div>
      <div class="container-iframe">
        <p id="aviso"></p>
        <a id="close" onclick="cerrarModal()"
          ><i class="bx bx-x-circle bx-sm"></i>Cerrar pdf</a
        >
        <iframe
          class="iframe-absolute"
          id="pdf-iframe"
          frameborder="0"
        ></iframe>
      </div>
    </main>
    <button class="responsive" id="btnResponsive">
      <i class="bx bx-menu"></i>
    </button>
    <script src="../../api/post.js"></script>
    <script src="../../api/courseStudent.js"></script>
    <script src="cursos.js"></script>
    <script src="../js/sidenav.js"></script>
    <script src="../../api/notices.js"></script>
    <script src="animation-advice.js"></script>
    <script src="reticula.js"></script>
  </body>
</html>
