@import url("../../admin/styles/style-generals.css");
@import url("../../mentor/style-mentor/sidenav.css");

.container-cursos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 90%;
    margin: auto;
    gap: 20px;
}

.card-cursos {
    box-shadow: var(--box-shadow);
    padding: 25px;
    border-radius: 10px;
    position: relative;
    background-image: linear-gradient(to right, #4f70d4, var(--primary-color));
    transition: .3s ease-in-out;
}

.card-cursos:hover {
    transition: .3s ease-in-out;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    cursor: pointer;
}

.text-card {
    margin: 10px auto;
}

.text-card h4 {
    color: #fff;
}

.text-card a {
    position: absolute;
    bottom: 10px;
    right: 20px;
    padding: 5px 8px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 4px;
    transition: .2s ease-in;
    font-weight: 600;
    background-color: #22387d50;
    color: #fff;
    border: 1px solid #fff;
    width: 70px;
    display: flex;
    justify-content: center;
    transition: .3s ease-in-out width;
}

.text-card p {
    color: #fff;
}

.text-card a:hover {
    background-color: var(--primary-color);
    width: 80px;
}

.hr {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1px;
    background-color: var(--primary-color);
}


/* NOTIFICACIONES */

.card-header-2 {
    padding: 0;
    margin: auto;
    width: 90%;
    background-color: transparent;
    box-shadow: none;
    height: 200px;
}

.avisos {
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    border-radius: 10px;
}

.avisos::-webkit-scrollbar-thumb {
    background-color: #999;
}

.avisos::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

.avisos {
    scrollbar-width: none;
}

.notification {
    background-image: linear-gradient(to right, #4f70d4, #219ebc);
    backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 90%;
    margin: auto;
}

.notification p {
    color: #fff;
    font-size: 12px;
    text-align: right;
}

.fecha {
    justify-content: right;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-end;
}

.fecha h6 {
    color: #fff;
    text-align: right;
    font-size: 10px;
}

.avisos h5 {
    color: #4f70d4;
    display: flex;
    align-items: center;
    gap: 10px;
    position: sticky;
    top: 0px;
    z-index: 20;
    padding: 15px;
    background-color: #e5e5e59e;
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: center;
}

.avisos h5::before {
    content: '';
    width: 95%;
    position: absolute;
    top: -30px;
    z-index: 10;
    height: 30px;
    background-color: #e5e5e5;
}

.name-notify label {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
}

.name-notify h6 {
    color: #fff;
}

.bx-x {
    color: #dadada;
}

.none-score {
    display: none;
}

.display-score {
    position: absolute;
    top: 0px;
    right: 15px;
    border-radius: 100%;
    display: flex;
    color: #fff;
    justify-content: center;
    border: 2px solid #fff;
    padding: 5px;
    margin: 10px;
    width: 50px;
    height: 50px;
    align-items: center;
    /* border-image: linear-gradient(to right, #fff,#9d9d9d); */
}

#asignaturas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}